<div class="container form form-container">
  <h2>Creating a new space</h2>
  <div class="row">
      <%= simple_form_for @space do |f| %>
        <%= f.input :name, label: 'Name here please:' %>
        <%= f.input :address, label: 'Address here please:' %>
        <%= f.input :description, label: 'Description here please:' %>
        <%= f.input :price_per_hour, label: 'Price per hour', input_html: { min: '0', step: 'any' } %>
        <%= f.input :image_url, label: 'Image url here please:' %>
        <%= f.submit "Create", class: "btn btn-danger" %>
      <% end %>
  </div>
</div>

