<div class="search-box">
  <%= form_tag spaces_search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a place to jamm" %>
  <% end %>
</div>


<div class="search-content">
  <div class="results">
    <div style="float: left"
      id="map"
      data-markers="<%= @markers.to_json %>">

      </div>
    <div class="col-sm4-6 col-md-4" id="cardsinsearch">
      <%= render 'shared/cards' %>
    </div>
  </div>
</div>




<!--
<div class="content">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class= "cards">
        <%= render 'shared/cards' %>
      </div>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>


 -->
