<div class="search-box">
  <%= form_tag spaces_search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a place to jamm" %>
  <% end %>
</div>


<div class="search-content" class="banner" style="align-items: center; background-image:  url('<%= image_url("banner2.jpg") %>');">
  <div class="results">
    <div class="hidden-xs hidden-sm"
      id="map"
      data-markers="<%= @markers.to_json %>">

      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" id="cardsinsearch">
      <%= render 'shared/cards' %>
    </div>
  </div>
</div>



