<h1>Space #<%= @space.id %></h1>
<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @space.country %>
</p>

<p>
  <strong>Address:</strong>
  <%= @space.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @space.city %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>
