<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Space #<%= @space.id %></h1>
        <p>
          <strong>Name:</strong>
          <%= @space.name %>
        </p>

        <p>
          <strong>Country:</strong>
          <%= @space.country %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @space.address %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @space.city %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @space.description %>
        </p>
    </div>
    <div class="col-sm-6">
      <%= link_to "Book this space", new_space_booking_path(@space), class: "btn btn-danger" %>
    </div>
  </div>
</div>
