
<div class="container show-container">
  <h1>Hello <strong><%= current_user.email %></strong>!</h1>
  <h3>Check out your bookings:</h3>
  <table class="table">
    <thead>end
      <tr>
        <th>Space name</th>
        <th>Start time</th>
        <th>Duration</th>
        <th>Total price</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.space.name %></td>
        <td><%= booking.start_time %></td>
        <td><%= booking.duration %></td>
        <td><%= booking.total_price %></td>
        <td><%= link_to "Info", space_path(booking.space), class: "btn btn-info" %></td>
        <td><%= link_to "Delete", space_booking_path(booking.space, booking), method: :delete, class: "btn btn-info" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
