<div class="container">
  <div class="row show-container">
    <div class="text-center">
      <h2> <%= @space.name  %> </h2>
    </div>
      <%= simple_form_for [@space, @booking] do |f| %>
        <%= f.input :start_time, as: :datetime, discard_minute: true, order: [:month, :day] %>
        <%= f.input :duration, input_html: { value: '1', min: '1', max: '3', step: 'any' }, label: 'Hours to book' %>
        <h3> Price per hour: <%= @space.price_per_hour.to_i  %>$ </h3>
        <%= f.submit "Book the space", class: "btn btn-danger" %>
      <% end %>
  </div>
</div>
