<ul class="cards">
  <% @spaces.each do |space| %>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title"><%= space.name %></div>
        <p class="card__text"><%= space.description %> <br> <%= space.address %> $<%= space.price_per_hour.to_i %>/h</p>
        <a class="btn btn--block card__btn" href="spaces/<%= space.id %>">more info</a>
      </div>
    </div>
  </li>
  <% end %>
</ul>

